body {
  overflow-x: hidden;
  width: 100%;
}

.navigationMobile {
  z-index: 20;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1D2639;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  font-size: 3em;
  -ms-grid-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.headerItemM {
  border-bottom: rgba(224, 225, 221, 0.5215686275) 1px solid !important;
}

.closeMN {
  height: 213%;
  padding: 0%;
  margin-right: 0px;
  margin-left: 0px;
}

.navigationMobile > * {
  border: none;
}

.toleft {
  -webkit-animation: Toleft;
          animation: Toleft;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  left: -130vw;
}

.closeMNWrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@-webkit-keyframes Toleft {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes Toleft {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
.toright {
  -webkit-animation: Toright;
          animation: Toright;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  left: 0vw;
}

@-webkit-keyframes Toright {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes Toright {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  #d3 {
    width: 15%;
  }
  #d2 {
    width: 15%;
  }
  .smartTigerBigPlanetBack > img {
    width: unset;
    max-width: 37vw;
    left: 65%;
  }
  .mainSmartTokenBLTxt {
    font-size: 1em;
  }
  .mainSmartTokenBLTxt {
    margin-bottom: 14%;
  }
  .smttBackH {
    font-size: 1.1em;
  }
  .SmartTokenBLAdds {
    -ms-grid-rows: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
  }
  .smarttigersTexts {
    -ms-grid-rows: 1fr 4fr 0.1fr;
    grid-template-rows: 1fr 4fr 0.1fr;
  }
  .smarttigersText {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .smarttigersBtn {
    width: 35%;
    padding: 3% 7%;
  }
  .teamWrapperMainItemAboutText {
    line-height: 19px;
    font-size: 0.8em;
  }
  .teamWrapper {
    -ms-grid-rows: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
  }
  .teamWrapperMainItem {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
  }
  .teamWrapperMainItemImg {
    position: relative;
    top: -1%;
    left: -10%;
    width: 130%;
  }
}
@media only screen and (max-width: 992px) {
  .smarttigersOsnUtilsTgs {
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
  .smarttigersOsnUtilsTgsItem {
    max-width: 46.7vw;
  }
  .swiperRoadMapSlideHeader {
    font-size: 1em;
  }
  .smartTigerBigPlanetBack > img {
    display: none;
    width: unset;
    left: 52%;
  }
  .header {
    padding: 0;
    width: 103%;
    top: 0;
  }
  .main {
    padding: 0% 4%;
  }
  .headerSTBlMini {
    font-size: 1.3em;
  }
  .headerSTBl {
    font-size: 3em;
  }
  .teamWrapperMain {
    width: 100%;
  }
  .teamWrapper {
    text-align: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamWrapperMainItem {
    width: 100%;
    max-width: 28vw;
  }
  .teamWrapperMainItemAboutText {
    font-size: 1.1em;
  }
  .footer {
    padding: 0;
  }
  .footerAded {
    padding: 0 0.1%;
  }
  .FooterLogoWrapperTagsItemsWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 11px;
  }
  .footerHeader {
    padding: 0 2%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 98%;
  }
  #d3 {
    width: 20%;
  }
  #d2 {
    width: 20%;
  }
  .smartTigerBigPlanetBack > img {
    width: unset;
    left: 22%;
  }
  .headerItemL > img {
    width: 94%;
  }
  .mainSmartTokenBL {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .headerSTBl {
    font-size: 2em;
  }
  .headerSTBlMini {
    font-size: 0.9em;
  }
  .smarttigersWrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    display: -ms-grid;
    display: grid;
  }
  .smarttigersVideo {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .smarttigersOsnUtils {
    -ms-grid-row: auto;
        grid-row-start: auto;
  }
  .smarttigersVideo > video {
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
  }
  .smarttigersOsnUtilsTgsWrapper {
    margin-bottom: 10%;
    row-gap: 5%;
  }
  .teamWrapperMain {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .teamWrapperMainItem {
    max-width: 51vw;
  }
  .whiteBookWrapper {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .whiteBookImg > img {
    position: unset;
    width: 100%;
  }
  .footerHeader {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .FooterLogoWrapper {
    padding: 15%;
  }
  .FooterLogoWrapperTags {
    margin-bottom: 10%;
  }
  .teamWrapperMain {
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 480px) and (min-width: 415px) {
  .headerItemF {
    width: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .whiteBookBack {
    display: none;
  }
  .swiperPlMob {
    display: -ms-grid !important;
    display: grid !important;
  }
  .headerItemF > img {
    width: 99%;
  }
  .header > .mobileBurgerWrapper > * {
    margin-left: 30vw;
    width: 20%;
    padding: 12%;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
    background-color: transparent;
    border: none;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .headerItemF {
    padding: 12%;
  }
  .header > * {
    border: none;
  }
  .header > a {
    display: none !important;
  }
  .header > .headerItemL {
    display: none !important;
  }
  .mobileBurgerWrapper {
    display: block;
  }
  .plBl {
    display: none;
  }
  .smarttigersOsnUtilsHead {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #smarttigerSliderNext {
    float: right;
  }
  .smarttigersOsnUtilsHeaderSwipe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerSTBlMini {
    font-size: 1.1em;
    text-align: left;
  }
  .mainSmartTokenBL {
    width: 97vw;
  }
  .smartTokenBlBackPlanet > img {
    left: -7.4vw;
  }
  .smartTigerBigPlanetBack > img {
    width: unset;
    left: 17%;
  }
  .smarttigersOsnUtilsTgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: unset;
    row-gap: 5%;
  }
  .smarttigersOsnUtilsTgsItem {
    display: -ms-grid;
    display: grid;
    max-width: unset;
    width: 95%;
  }
  .headersSTBl {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .swiperSmartTiger {
    width: 93%;
  }
  .smartTigerBigPlanetBack > img {
    display: none;
  }
  #d2 {
    left: 0;
    top: 280%;
    width: 29%;
  }
  #d3 {
    left: 80%;
    top: 325%;
    width: 29%;
  }
  .main {
    width: 100%;
  }
  .roadMapWrapperHeader {
    font-size: 2em;
  }
}