@font-face {
  font-family: "SFText";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/sfprotext/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: "SFText";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/sfprotext/SF-Pro-Display-Heavy.otf);
}
@font-face {
  font-family: "SFText";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/sfprotext/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: "SFText";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/sfprotext/SF-Pro-Display-Ultralight.otf);
}
@font-face {
  font-family: "SFText";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/sfprotext/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: "SFText";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sfprotext/SF-Pro-Display-Thin.otf);
}
@font-face {
  font-family: "SFTextR";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/sfprorounded/FontsFree-Net-SF-Pro-Rounded-Ultralight.ttf);
}
@font-face {
  font-family: "SFTextR";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/sfprorounded/FontsFree-Net-SF-Pro-Rounded-Thin.ttf);
}
@font-face {
  font-family: "SFTextR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sfprorounded/FontsFree-Net-SF-Pro-Rounded-Light.ttf);
}
@font-face {
  font-family: "SFTextR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sfprorounded/FontsFree-Net-SF-Pro-Rounded-Regular.ttf);
}
@font-face {
  font-family: "SFTextR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/sfprorounded/FontsFree-Net-SF-Pro-Rounded-Medium.ttf);
}
@font-face {
  font-family: "SFTextR";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sfprorounded/FontsFree-Net-SF-Pro-Rounded-Heavy.ttf);
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  color: #E0E1DD;
  margin: 0;
  font-weight: 400;
  font-family: "SFTextR";
}

body {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 5%;
  background-color: #1D2639;
}

.header {
  z-index: 5;
  background-color: #1D2639;
  top: 0;
  z-index: 2s;
  position: sticky;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 0.5px rgba(224, 225, 221, 0.5215686275) solid;
  padding: 0% 10%;
}

.headerItem {
  border-left: 0px solid;
  border-right: 0.5px rgba(224, 225, 221, 0.5215686275) solid;
  display: -ms-grid !important;
  display: grid !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #E0E1DD;
  font-size: 1em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}

.headerItemF {
  padding: 5%;
  padding-left: 50%;
  border: none;
  height: 73%;
  border-right: 1px solid rgba(224, 225, 221, 0.5215686275);
}

.headerItemF > img {
  width: 60%;
}

.headerItemL {
  padding-left: 10%;
  padding-right: 10%;
  grid-auto-flow: column;
  border: none;
  border-left: 1px solid rgba(224, 225, 221, 0.5215686275);
}

.headerItemL > img {
  width: 38%;
}

.main {
  padding: 0% 15%;
}

.SmartTokenBL {
  display: -ms-grid;
  display: grid;
  margin-bottom: 8%;
}

.headersSTBl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 28% 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 28%;
     -moz-column-gap: 28%;
          column-gap: 28%;
  margin-bottom: 7%;
}

.headerSTBl {
  font-size: 4em;
  font-family: "SFTextR";
  font-weight: 500;
}

.headerSTBlMini {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-size: 1.7em;
  font-weight: 500;
}

.mainSmartTokenBL {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.mainSmartTokenBL > img {
  width: 100%;
}

.mainSmartTokenBLTxt {
  font-size: 1.2em;
  margin-bottom: 8%;
  line-height: 140%;
}

.smttBack {
  padding: 2% 4%;
  margin-bottom: 6%;
  background-color: #101B29;
  border-radius: 10px;
  opacity: 0.7;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  width: 68%;
  z-index: 5;
  -webkit-box-shadow: #161d2c 0px 8px 10px;
          box-shadow: #161d2c 0px 8px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.smttBack > * {
  color: #E0E1DD !important;
}

.smttBack > * > * {
  color: #E0E1DD !important;
}

.smttBack:hover {
  opacity: 1;
}

.smttBackTitleWrapper {
  background-color: #101B29;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
  grid-template-columns: 4fr 1fr;
}

.smttBackH {
  background-color: #101B29;
  font-size: 1.2em;
}

.smttBackt {
  background-color: #101B29;
  font-size: 0.9em;
}

.mainSmartTokenBLWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.SmartTokenBLAdds {
  display: -ms-grid;
  display: grid;
  row-gap: 6%;
}

.SmartTokenBLAddsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.2%;
     -moz-column-gap: 1.2%;
          column-gap: 1.2%;
}

.SmartTokenBLAddsRowItem {
  z-index: 4;
  padding: 1.2% 2%;
  background-color: #101B29;
  border-radius: 10px;
  row-gap: 12px;
  opacity: 0.7;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: #161d2c 0px 8px 10px;
          box-shadow: #161d2c 0px 8px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.SmartTokenBLAddsRowItem > * {
  color: #E0E1DD !important;
}

.SmartTokenBLAddsRowItem:hover {
  opacity: 1;
}

.SmartTokenBLAddsRowItemHeader {
  font-size: 1.03em;
  background-color: #101B29;
}

.SmartTokenBLAddsRowItemText {
  font-size: 0.89em;
  background-color: #101B29;
}

.SmartTokenBLAddsRowItemOnesed {
  line-height: 24px;
  font-size: 1em;
  max-width: 70%;
}

.smarttigers {
  margin-bottom: 8%;
}

.hrS-R {
  margin-bottom: 8%;
}

.smarttigersWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.smarttigersTexts {
  display: -ms-grid;
  display: grid;
}

.smarttigersHeader {
  font-size: 4em;
  font-weight: 500;
  font-family: "SFTextR";
  margin-bottom: 10%;
}

.smarttigersTextSt {
  font-size: 1.3em;
  line-height: 170%;
}

.smarttigersTextSt1 {
  font-size: 1.3em;
  line-height: 170%;
}

.smarttigersText {
  font-size: 0.9em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 16% 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 16%;
  line-height: 24px;
  margin-bottom: 15%;
}

.smarttigersOrangeTxt {
  font-size: 1.3em;
  line-height: 170%;
  color: #FF6F04;
  font-weight: 600;
}

.smarttigersBtn {
  font-size: 1em;
  width: 18%;
  padding: 2.5% 4%;
  background-color: #FF6F04;
  border-radius: 7.5px;
  cursor: pointer;
  border: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.small-blocks-wrapper {
  display: none;
}

.smarttigersVideo > video {
  width: 90%;
  margin-left: 25%;
}

.smarttigersOsnUtils {
  margin-top: 20%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.smarttigersOsnUtilsHead {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.04fr;
  grid-template-columns: 1fr 0.04fr;
  width: 100%;
}

.smarttigersOsnUtilsHeader {
  font-size: 2em;
  font-weight: 500;
}

.smarttigersOsnUtilsHeaderSwipe {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5.6%;
     -moz-column-gap: 5.6%;
          column-gap: 5.6%;
}

.smarttigersOsnUtilsHeaderSwipe > img {
  cursor: pointer;
}

.smarttigersOsnUtilsTgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-auto-flow: column;
  -webkit-column-gap: 1%;
     -moz-column-gap: 1%;
          column-gap: 1%;
}

.smarttigersOsnUtilsTgsWrapper {
  margin-top: 6%;
  display: -ms-grid;
  display: grid;
  row-gap: 16%;
}

.smarttigersOsnUtilsTgsItem {
  grid-auto-flow: column;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
  max-width: 22.7vw;
  width: auto;
  padding: 1.2% 2%;
  background-color: #101B29;
  border-radius: 20px;
  opacity: 0.7;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: #161d2c 0px 8px 10px;
  box-shadow: #161d2c 0px 8px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.smarttigersOsnUtilsTgsItem:hover {
  opacity: 1;
}

.smarttigersOsnUtilsTgsItem > * {
  background-color: #101B29;
}

.smarttigersOsnUtilsTgsItemTxt {
  background-color: #101B29;
  font-size: 1.1em;
  color: #E0E1DD !important;
}

.roadMapWrapperHeader {
  font-family: "SFTextR";
  font-size: 4em;
}

.roadMap {
  margin-bottom: 8%;
}

.roadMapFooter {
  width: 60%;
  line-height: 24px;
  font-weight: 100;
  color: #E0E1DD;
}

.teamBl {
  margin-bottom: 8%;
}

.teamWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0 12fr;
  grid-template-rows: 1fr 12fr;
  row-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.teamWrapperHeader {
  font-size: 4em;
  font-family: "SFTextR";
  font-weight: 500;
}

.teamWrapperMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4% 1fr 4% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
  row-gap: 4%;
}

.teamWrapperMainItem {
  background-color: rgba(70, 89, 116, 0.3647058824);
  border-radius: 12px;
  margin: 0;
  max-width: 17vw;
  padding: 2% 0% 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.teamWrapperMainItem:hover {
  background-color: rgba(70, 89, 116, 0.8156862745);
}

.smttBackH {
  font-weight: 500;
}

.SmartTokenBLAddsRowItemHeader {
  font-weight: 500;
}

.teamWrapperMainItemHeader {
  font-size: 1.6em;
  font-family: "SFTextR";
  margin-bottom: 2%;
  margin-top: 4%;
  font-weight: 500;
}

.teamWrapperMainItemAbout {
  color: #101B29;
}

.teamWrapperMainItemImg {
  position: relative;
  top: 1%;
}

.teamWrapperMainItemAboutText {
  color: #E0E1DD;
  font-size: 1.3em;
  font-weight: 300;
  padding: 4% 6%;
  text-align: left;
  line-height: 30px;
}

.teamWrapperMainItemAb {
  display: -ms-grid;
  display: grid;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whiteBookWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8% 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  -webkit-column-gap: 8%;
     -moz-column-gap: 8%;
          column-gap: 8%;
}

.whiteBookHeader {
  font-size: 4em;
  font-family: "SFTextR";
  margin-bottom: 8%;
  font-weight: 500;
}

.whiteBookTxtTxt {
  line-height: 40px;
  margin-bottom: 18%;
  font-weight: 300;
  font-size: 1.3em;
}

.whiteBookImg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

.whiteBookImg > img {
  width: 118%;
  position: relative;
  bottom: 14%;
}

.whiteBookBtn {
  cursor: pointer;
  font-size: 1em;
  padding: 3.5% 9%;
  background-color: #FF6F04;
  border: none;
  border-radius: 7.5px;
}

.dsn {
  position: absolute;
  opacity: 0;
  left: -10000px;
}

.footer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  padding: 0 12%;
}

.footerHeader {
  display: -ms-grid;
  display: grid;
  padding: 0 9%;
  -ms-grid-columns: 1fr 2% 2.5fr;
  grid-template-columns: 1fr 2.5fr;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  margin-bottom: 5%;
}

.FooterLogoWrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 16%;
     -moz-column-gap: 16%;
          column-gap: 16%;
  grid-auto-flow: column;
  -webkit-column-gap: 15%;
     -moz-column-gap: 15%;
          column-gap: 15%;
  grid-auto-flow: column;
  -ms-grid-columns: 0.4fr 15% 1fr;
  grid-template-columns: 0.4fr 1fr;
}

.FooterLogoWrapper > img {
  width: 135%;
}

.footerHeaderHeader {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  font-weight: 500;
  font-family: "SFTextR";
}

.FooterLogoWrapperTags {
  display: -ms-grid;
  display: grid;
  row-gap: 21%;
}

.FooterLogoWrapperTagsItemsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
}

.FooterLogoWrapperTagsItems {
  display: -ms-grid;
  display: grid;
  font-weight: 500;
  font-size: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 4%;
  border-radius: 7.5px;
  background-color: rgba(16, 27, 41, 0.5215686275);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.plBlPurple {
  -webkit-filter: blur(0.5) !important;
          filter: blur(0.5) !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.plBlPurple:hover {
  -webkit-filter: blur(0) !important;
          filter: blur(0) !important;
}

.footerSocity {
  width: 25%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
  margin-bottom: 4%;
  padding: 0 9%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerSocity > img {
  width: 90%;
}

.footerAded {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10vw 1fr 10vw 0.5fr;
  grid-template-columns: 1fr 1fr 0.5fr;
  -webkit-column-gap: 10vw;
     -moz-column-gap: 10vw;
          column-gap: 10vw;
  text-align: left;
}

.footerAdedWrapper {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

.footerAdedTxtR {
  text-align: right;
}

.plBl {
  height: 114vh;
}

.upperBackground > img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.smartTokenBlBackPlanet > img {
  z-index: -1;
  position: absolute;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  top: 210vh;
  left: -0.4vw;
}

.smartTigerBigPlanetBack > img {
  z-index: -1;
  width: 27%;
  position: absolute;
  top: 259vh;
  left: 73%;
}

.smartTigerMoonBack > img {
  z-index: -1;
  position: absolute;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  width: 20%;
  top: 393vh;
  left: 33.6vw;
}

.smarttigersVideo > img {
  position: absolute;
  left: 70%;
  height: 20%;
  width: auto;
}

#d2 {
  top: 250%;
  left: 54%;
}

#d3 {
  top: 310%;
  left: 85%;
}

.teamBlBack > img {
  z-index: -1;
  position: absolute;
  -webkit-filter: blur(1.3px);
          filter: blur(1.3px);
  width: 100%;
  top: 533vh;
  left: 0;
}

.whiteBookBack > img {
  z-index: -1;
  position: absolute;
  -webkit-filter: blur(1.3px);
          filter: blur(1.3px);
  width: 44%;
  top: 675vh;
  left: 55.5vw;
}

.plBlCenter {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-column-span: 7;
  grid-column-end: 13;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 6;
  grid-row-end: 10;
}

.plBlBlue {
  cursor: pointer;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

.plBlBlue:hover #plBlBlueItem {
  display: block !important;
}

.plBlMoon:hover #plBlMoonItem {
  display: block !important;
}

.plBlPurple:hover #plBlPurpleItem {
  display: block !important;
}

.plBlOrange:hover #plBlOrangeItem {
  display: block !important;
}

.plBlYelpurp:hover #plBlYelpurpItem {
  display: block !important;
}

.plBlRed:hover #plBlRedItem {
  display: block !important;
}

.plBlYellow:hover #plBlYellowItem {
  display: block !important;
}

.plBlPink:hover #plBlPinkItem {
  display: block !important;
}

.plBlMoon {
  -ms-grid-column: 10;
      grid-column-start: 10;
  -ms-grid-row: 1;
      grid-row-start: 1;
  cursor: pointer;
  -ms-grid-column-span: 3;
  grid-column-end: 13;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  width: 60% !important;
}

.plBlPurple {
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row-span: 4;
  grid-row-end: 9;
}

.plBlOrange {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-column-span: 3;
  grid-column-end: 8;
  width: 50% !important;
  -ms-grid-row-span: 5;
  grid-row-end: 11;
}

.plBlYelpurp {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 10;
      grid-column-start: 10;
  cursor: pointer;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-column-span: 4;
  grid-column-end: 14;
  width: 50% !important;
  -ms-grid-row-span: 4;
  grid-row-end: 11;
}

.plBlRed {
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -ms-grid-column: 12;
      grid-column-start: 12;
  -ms-grid-row: 10;
      grid-row-start: 10;
  -ms-grid-column-span: 3;
  grid-column-end: 15;
  -ms-grid-row-span: 3;
  grid-row-end: 13;
}

.plBlYellow {
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row: 11;
      grid-row-start: 11;
  -ms-grid-column-span: 4;
  grid-column-end: 10;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
  width: 50% !important;
}

.plBlPink {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 11;
      grid-row-start: 11;
  cursor: pointer;
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
  width: 50% !important;
}

.plBlKrug > img {
  width: 70%;
}

.plBlKrug {
  background-position: center;
  background-image: url("/img/orbits.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
  grid-template-columns: repeat(15, 1fr);
  -ms-grid-rows: (1fr)[15];
  grid-template-rows: repeat(15, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plBlKrug > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(23) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(24) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(25) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(26) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(27) {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(28) {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(29) {
  -ms-grid-row: 2;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(30) {
  -ms-grid-row: 2;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(41) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(42) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(43) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(44) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(45) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(46) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(47) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(48) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(49) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(50) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(51) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(52) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(53) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(54) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(55) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(56) {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(57) {
  -ms-grid-row: 4;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(58) {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(59) {
  -ms-grid-row: 4;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(60) {
  -ms-grid-row: 4;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(61) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(62) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(63) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(64) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(65) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(66) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(67) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(68) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(69) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(70) {
  -ms-grid-row: 5;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(71) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(72) {
  -ms-grid-row: 5;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(73) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(74) {
  -ms-grid-row: 5;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(75) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(76) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(77) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(78) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(79) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(80) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(81) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(82) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(83) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(84) {
  -ms-grid-row: 6;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(85) {
  -ms-grid-row: 6;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(86) {
  -ms-grid-row: 6;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(87) {
  -ms-grid-row: 6;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(88) {
  -ms-grid-row: 6;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(89) {
  -ms-grid-row: 6;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(90) {
  -ms-grid-row: 6;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(91) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(92) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(93) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(94) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(95) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(96) {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(97) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(98) {
  -ms-grid-row: 7;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(99) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(100) {
  -ms-grid-row: 7;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(101) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(102) {
  -ms-grid-row: 7;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(103) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(104) {
  -ms-grid-row: 7;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(105) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(106) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(107) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(108) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(109) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(110) {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(111) {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(112) {
  -ms-grid-row: 8;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(113) {
  -ms-grid-row: 8;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(114) {
  -ms-grid-row: 8;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(115) {
  -ms-grid-row: 8;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(116) {
  -ms-grid-row: 8;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(117) {
  -ms-grid-row: 8;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(118) {
  -ms-grid-row: 8;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(119) {
  -ms-grid-row: 8;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(120) {
  -ms-grid-row: 8;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(121) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(122) {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(123) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(124) {
  -ms-grid-row: 9;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(125) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(126) {
  -ms-grid-row: 9;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(127) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(128) {
  -ms-grid-row: 9;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(129) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(130) {
  -ms-grid-row: 9;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(131) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(132) {
  -ms-grid-row: 9;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(133) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(134) {
  -ms-grid-row: 9;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(135) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(136) {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(137) {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(138) {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(139) {
  -ms-grid-row: 10;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(140) {
  -ms-grid-row: 10;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(141) {
  -ms-grid-row: 10;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(142) {
  -ms-grid-row: 10;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(143) {
  -ms-grid-row: 10;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(144) {
  -ms-grid-row: 10;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(145) {
  -ms-grid-row: 10;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(146) {
  -ms-grid-row: 10;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(147) {
  -ms-grid-row: 10;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(148) {
  -ms-grid-row: 10;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(149) {
  -ms-grid-row: 10;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(150) {
  -ms-grid-row: 10;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(151) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(152) {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(153) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(154) {
  -ms-grid-row: 11;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(155) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(156) {
  -ms-grid-row: 11;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(157) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(158) {
  -ms-grid-row: 11;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(159) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(160) {
  -ms-grid-row: 11;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(161) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(162) {
  -ms-grid-row: 11;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(163) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(164) {
  -ms-grid-row: 11;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(165) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(166) {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(167) {
  -ms-grid-row: 12;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(168) {
  -ms-grid-row: 12;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(169) {
  -ms-grid-row: 12;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(170) {
  -ms-grid-row: 12;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(171) {
  -ms-grid-row: 12;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(172) {
  -ms-grid-row: 12;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(173) {
  -ms-grid-row: 12;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(174) {
  -ms-grid-row: 12;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(175) {
  -ms-grid-row: 12;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(176) {
  -ms-grid-row: 12;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(177) {
  -ms-grid-row: 12;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(178) {
  -ms-grid-row: 12;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(179) {
  -ms-grid-row: 12;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(180) {
  -ms-grid-row: 12;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(181) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(182) {
  -ms-grid-row: 13;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(183) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(184) {
  -ms-grid-row: 13;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(185) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(186) {
  -ms-grid-row: 13;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(187) {
  -ms-grid-row: 13;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(188) {
  -ms-grid-row: 13;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(189) {
  -ms-grid-row: 13;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(190) {
  -ms-grid-row: 13;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(191) {
  -ms-grid-row: 13;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(192) {
  -ms-grid-row: 13;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(193) {
  -ms-grid-row: 13;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(194) {
  -ms-grid-row: 13;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(195) {
  -ms-grid-row: 13;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(196) {
  -ms-grid-row: 14;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(197) {
  -ms-grid-row: 14;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(198) {
  -ms-grid-row: 14;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(199) {
  -ms-grid-row: 14;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(200) {
  -ms-grid-row: 14;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(201) {
  -ms-grid-row: 14;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(202) {
  -ms-grid-row: 14;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(203) {
  -ms-grid-row: 14;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(204) {
  -ms-grid-row: 14;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(205) {
  -ms-grid-row: 14;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(206) {
  -ms-grid-row: 14;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(207) {
  -ms-grid-row: 14;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(208) {
  -ms-grid-row: 14;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(209) {
  -ms-grid-row: 14;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(210) {
  -ms-grid-row: 14;
  -ms-grid-column: 15;
}

.plBlKrug > *:nth-child(211) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.plBlKrug > *:nth-child(212) {
  -ms-grid-row: 15;
  -ms-grid-column: 2;
}

.plBlKrug > *:nth-child(213) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.plBlKrug > *:nth-child(214) {
  -ms-grid-row: 15;
  -ms-grid-column: 4;
}

.plBlKrug > *:nth-child(215) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.plBlKrug > *:nth-child(216) {
  -ms-grid-row: 15;
  -ms-grid-column: 6;
}

.plBlKrug > *:nth-child(217) {
  -ms-grid-row: 15;
  -ms-grid-column: 7;
}

.plBlKrug > *:nth-child(218) {
  -ms-grid-row: 15;
  -ms-grid-column: 8;
}

.plBlKrug > *:nth-child(219) {
  -ms-grid-row: 15;
  -ms-grid-column: 9;
}

.plBlKrug > *:nth-child(220) {
  -ms-grid-row: 15;
  -ms-grid-column: 10;
}

.plBlKrug > *:nth-child(221) {
  -ms-grid-row: 15;
  -ms-grid-column: 11;
}

.plBlKrug > *:nth-child(222) {
  -ms-grid-row: 15;
  -ms-grid-column: 12;
}

.plBlKrug > *:nth-child(223) {
  -ms-grid-row: 15;
  -ms-grid-column: 13;
}

.plBlKrug > *:nth-child(224) {
  -ms-grid-row: 15;
  -ms-grid-column: 14;
}

.plBlKrug > *:nth-child(225) {
  -ms-grid-row: 15;
  -ms-grid-column: 15;
}

.FooterLogoWrapperTagsItems:hover {
  background-color: rgba(16, 27, 41, 0.8078431373);
}

.headerItem:hover {
  background-color: #27334d;
}

.textCopied {
  z-index: 10;
  background-color: rgba(39, 51, 77, 0.9019607843);
  position: fixed;
  top: 93%;
  left: 46%;
  padding: 0.4% 5%;
  border-radius: 7.5px;
}

.swiperRoadMapSlide > img {
  height: 100%;
}

.swiperRoadMapSlide {
  margin-bottom: 2vh;
}

.swiperRoadMap {
  margin: 10% 0%;
  width: 84vw;
}

.swiperRoadMapSlideHeader {
  margin-bottom: 6%;
  font-size: 2em;
  font-weight: 500;
  font-family: "SFTextR";
}

.swiperSmartTiger {
  width: 84vw;
  margin-top: 8%;
}

.swiperSlideSmartTiger {
  background: rgba(22, 29, 44, 0.5490196078);
  border-radius: 12.5px;
  height: auto !important;
}

.swiperSlideSmartTigerWrapper {
  padding: 4% 8%;
}

.swiperSlideSmartTigerWrapper > * {
  color: #E0E1DD !important;
}

.swiperSlideSmartTigerHeader {
  font-size: 1.4em;
  margin-bottom: 1vh;
  font-weight: 500;
}

.swiperSlideSmartTigerTxt {
  font-size: 0.9em;
  line-height: 24px;
  font-weight: 400;
}

.displayNone {
  display: none !important;
}

.swiperPlMob {
  display: none !important;
}

.planetsItems {
  border-radius: 5px;
  max-width: 18%;
  position: absolute;
  padding: 1% 2%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #101B29;
}

.planetsItemsHeader {
  margin-bottom: 1vh;
  font-size: 1.3em;
  font-weight: 400;
}

.planetsItemsTxt {
  font-size: 0.9em;
  margin-bottom: 1vh;
}

.planetCenterItemTgBl > img {
  width: 100%;
}

.planetCenterItemTgBl {
  padding: 2% 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1vw;
     -moz-column-gap: 1vw;
          column-gap: 1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1vw 10fr;
  grid-template-columns: 1fr 10fr;
}

.planetCenterItemTgBl > a {
  display: block;
}

.swiperPlMob {
  margin-bottom: 5%;
}

#langToggle {
  cursor: pointer;
}

.languageToggle {
  display: none;
  position: fixed;
  max-width: 8%;
  display: -ms-grid;
  display: grid;
  z-index: 400;
}

.languageToggleItem:hover {
  background-color: #1e324d;
}

.languageToggleItem {
  border-bottom: #E0E1DD 1px solid;
  padding-bottom: 0.5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4% 3fr;
  grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.languageToggleItem > img {
  width: 85%;
  padding: 15%;
  max-width: 60px;
}

#themeToggle {
  cursor: pointer;
}

.langtogwrap {
  z-index: 30;
  border-radius: 7.5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101B29;
  max-width: 10%;
  left: 80%;
  position: fixed;
  padding: 0.3% 1%;
}

.languageToggleItemLast {
  border: none;
}

.mobileBurgerWrapper {
  display: none;
}

.up {
  -webkit-animation: up;
          animation: up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes up {
  0% {
    top: 106%;
  }
  100% {
    top: 93%;
  }
}

@keyframes up {
  0% {
    top: 106%;
  }
  100% {
    top: 93%;
  }
}
.down {
  -webkit-animation: down;
          animation: down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes down {
  0% {
    top: 93%;
  }
  100% {
    top: 106%;
  }
}

@keyframes down {
  0% {
    top: 93%;
  }
  100% {
    top: 106%;
  }
}
.oprev {
  -webkit-animation: oprev;
          animation: oprev;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes oprev {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes oprev {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.op {
  -webkit-animation: op;
          animation: op;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}