$background: #1D2639;
$barkcl: #101B29;
$brcolor: #e0e1dd85;
$color: #E0E1DD;
$headerFontSize: 4em;
$transSt: .4s;
@font-face {
	font-family: 'SFText'; 
    font-style: normal;
	font-weight: normal;
	src: url(../fonts/sfprotext/SF-Pro-Display-Medium.otf); 
}
@font-face {
	font-family: 'SFText'; 
    font-style: normal;
	font-weight: 700;
	src: url(../fonts/sfprotext/SF-Pro-Display-Heavy.otf); 
}
@font-face {
	font-family: 'SFTextR'; 
    font-style: normal;
	font-weight: 700;
	src: url(../fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf); 
}
*{
    color: $color;
    margin: 0;
    // background-color: $background;
    font-family: 'SFText';
}
body{
    margin-bottom: 7vh;
    background-color: $background;
}

.header {
    z-index:5 ;
    background-color: $background;
    top: 0;
    z-index: 2s;
    position: sticky;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 0.5px $brcolor solid;
    padding: 0% 10%;
}
.headerItem {
    border-left: 0px solid;
    border-right: 0.5px $brcolor solid;
    display: grid;
    align-items: center;
    text-align: center;
    color: #E0E1DD;
    font-size: 1em;
}

.headerItemF{
    padding: 5%;
    padding-left: 50%;
    border: none;
    border-right: 1px solid $brcolor;
}
.headerItemF>img{
    width: 60%;
}
.headerItemL{
    padding-left: 10%;
    padding-right: 10%;
    grid-auto-flow: column;
    border: none;
    border-left: 1px solid $brcolor;
}
.headerItemL>img{
    width: 38%;
}

.main {
    padding: 0% 15%;
}
.plBl {
}
.SmartTokenBL {
    display: grid;
    margin-bottom: 10vh;
}
.headersSTBl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28%;
    margin-bottom: 7%;
}
.headerSTBl {
    font-size: $headerFontSize;
    font-family: 'SFTextR';
}
.headerSTBlMini {
    display: grid;
    align-items: center;
    text-align: right;
    font-size: 1.7em;
    font-weight: 400;
}
.mainSmartTokenBL {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.mainSmartTokenBL>img{
    width: 100%;
}
.mainSmartTokenBLTxt {
    font-size: 1.31em;
    margin-bottom: 10vh;
}

.smttBack {
    padding: 2% 4%;
    margin-bottom: 6vh;
    background-color: $barkcl;
    border-radius: 10px;
    opacity: 0.7;
    display: grid;
    row-gap: 1.7vh;
    width: 68%;
    z-index: 5;
    box-shadow: #161d2c 0px 8px 10px;
    transition: $transSt;
}
.smttBack:hover{
    opacity: 1;
}
.smttBackTitleWrapper {
    background-color: $barkcl;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.smttBackH {
    background-color: $barkcl;
    font-size: 1.2em;
}
.smttBackt {
    background-color: $barkcl;
    font-size: .9em;
}
.mainSmartTokenBLWrapper{
}
.SmartTokenBLAdds {
    display: grid;
    row-gap: 2vh;
}
.SmartTokenBLAddsRow {
    display: flex;
    column-gap: 1.2vw;
}
.SmartTokenBLAddsRowItem {
    z-index: 4;
    padding: 1.2% 2%;
    background-color: $barkcl;
    border-radius: 10px;
    opacity: 0.7;
    display: grid;
    box-shadow: #161d2c 0px 8px 10px;
    transition: $transSt;
}
.SmartTokenBLAddsRowItem:hover{
    opacity: 1;
}
.SmartTokenBLAddsRowItemHeader {
    font-size: 1em;
    background-color: $barkcl;

}
.SmartTokenBLAddsRowItemText {
    font-size: .8em;
    background-color: $barkcl;
}
.SmartTokenBLAddsRowItemOnesed{
    line-height: 3vh;
    font-size: 1em;
    max-width: 70%;
}
.smarttigers {
    margin-bottom: 10vh;
}
.hrS-R{
    margin-bottom: 10vh;
}
.smarttigersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.smarttigersTexts {
    display: grid;
}
.smarttigersHeader {
    font-size: $headerFontSize;
    font-weight: 100;
    font-family: "SFTextR";
    margin-bottom: 5vh;
}
.smarttigersText {
    font-size: 0.9em;
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    row-gap: 4vh;
    line-height: 3vh;
    margin-bottom: 15%;
}
.smarttigersOrangeTxt {
    color: #FF6F04;
    font-weight: 600;
}
.smarttigersBtn {
    font-size: 1em;
    width: 27%;
    padding: 2% 4%;
    background-color: #FF6F04;
    border-radius: 7.5px;
}
.smarttigersVideo >video{
    width: 90%;
    margin-left: 10vw;
}
.smarttigersOsnUtils{
    margin-top: 20vh;
    grid-column-start: 1;
    grid-column-end: 3;
}
.smarttigersOsnUtilsHead {
    display: grid;
    grid-template-columns: 1fr .04fr;
    width: 100%;
}
.smarttigersOsnUtilsHeader {
    font-size: 2em;
    font-weight: 600;
}
.smarttigersOsnUtilsHeaderSwipe {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: .6vw;
}
.smarttigersOsnUtilsHeaderSwipe>img{
    cursor: pointer;
}
.swiperTest {
}
.swiperMyItem {
}
.swiperMyItemHeader {
}
.swiperMyItemTxt {
}
.smarttigersOsnUtilsTgs {
    display: flex;
    grid-auto-flow: column;
    column-gap: 1vw;
}
.smarttigersOsnUtilsTgsWrapper{
    margin-top: 6vh;
    display: grid;
    row-gap: 2vh;
}

.smarttigersOsnUtilsTgsItem {
    // grid-template-columns: 1fr 5fr;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    column-gap: 1vw;
    max-width: 22.7vw;
    width: auto;
    padding: 1.2% 2%;
    background-color: #101B29;
    border-radius: 20px;
    opacity: 0.7;
    display: -ms-grid;
    display: grid;
    -webkit-box-shadow: #161d2c 0px 8px 10px;
    box-shadow: #161d2c 0px 8px 10px;
    transition: $transSt;
}
.smarttigersOsnUtilsTgsItem:hover{
    opacity: 1;
}
.smarttigersOsnUtilsTgsItem>*{
    background-color: #101B29;

}
.smarttigersOsnUtilsTgsItemTxt{
    background-color: #101B29;
    font-size: 1.1em;
}
.roadMapWrapperHeader{
    font-family: "SFTextR";
    font-size: $headerFontSize;
}
.roadMap{
    margin-bottom: 10vh;
}
.roadMapFooter{
    width: 60%;
    line-height: 3vh;
    font-weight: 100;
    color: #E0E1DD;
}

.teamBl {
    margin-bottom: 10vh;
}
.teamWrapper {
    display: grid;
    grid-template-rows: 1fr 12fr;
    row-gap: 0vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.teamWrapperHeader {
    font-size: $headerFontSize;
    font-family: "SFTextR";
}
.teamWrapperMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
    row-gap: 4vh;
}
.teamWrapperMainItem{
    background-color: #4659745d;
    border-radius: 12px;
    margin: 0;
    max-width: 17vw;
    padding: 2% 0% 0 0 ;
    transition: $transSt;
}
.teamWrapperMainItem:hover{
    opacity: 1;
}
.teamWrapperMainItemHeader {
    font-size: 1.6em;
    font-family: "SFTextR";
    margin-bottom: 2vh;
    margin-top: 4vh;
}
.teamWrapperMainItemAbout {
    color: #101B29;
}
.teamWrapperMainItemImg {
    position: relative;
    top: 1%;
    // height: 82.9%;
    // width: 80%;
}
.teamWrapperMainItemAboutText{
    color:$color;
    font-size: 1em;
   
    font-weight: 100;
    padding: 4% 12%;
    line-height: 4vh;
}
.teamWrapperMainItemAb{
    display: grid;
    padding: 0;
    align-items: center;
}

.whiteBook {
}
.whiteBookWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    column-gap: 8vw;
}
.whiteBookTxt {
}
.whiteBookHeader {
    font-size: $headerFontSize;
    font-family: "SFTextR";
    margin-bottom: 10vh;
}
.whiteBookTxtTxt {
    line-height: 3vh;
    margin-bottom: 14vh;
}
.whiteBookImg {
    justify-content: center;
    display: grid;
}
.whiteBookImg>img{
    width: 118%;
    position: relative;
    bottom: 14vh;
}
.whiteBookBtn {
    cursor: pointer;
    font-size: 1em;
    padding: 3.5% 9%;
    background-color: #FF6F04;
    border-radius: 7.5px;
}
.dsn{
    position: absolute;
    opacity: 0;
    left: -10000px;
}
.footer {
    display: grid;
    grid-auto-flow: row;
    padding: 0 12%;
    // grid-template-columns: 1fr 4fr;
}
.footerHeader {
    display: grid;
    padding: 0 9%;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 2vw;
    margin-bottom: 7vh;
}
.FooterLogoWrapper {
    align-items: center;
    display: grid;
    column-gap: 3vw;
    grid-auto-flow: column;
}
.FooterLogoWrapper>img{
    width: 135%;
}
.footerHeaderHeader {
    display: grid;
    grid-auto-flow: column;
    font-family: "SFTextR";
}
.FooterLogoWrapperTags {
    display: grid;
    row-gap: 2vh;
}
.FooterLogoWrapperTagsItemsWrapper {
    display: flex;
    column-gap: 2vw;
}
.FooterLogoWrapperTagsItems {
    display: grid;
    align-items: center;
    padding: 1% 4%;
    border-radius: 7.5px;
    font-size: 1em;
    background-color: #101b2985;
    transition: .1s;
    cursor: pointer;
}

.footerSocity{
    width: 25%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1vw;
    margin-bottom: 7vh;
    padding: 0 9%;
    justify-content: center;
}

.footerSocity>img{
    width: 90%;
}

.footerAded {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    column-gap: 10vw;
    text-align: left;
}
.footerAdedWrapper{
    width: 100%;
    justify-content: center;
    display: grid;
}
.footerAdedTxtR{
    text-align: right;
}

.plBl{
    height: 114vh;
}
.upperBackground>img{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    filter: blur(3px);
}
.smartTokenBlBackPlanet>img{
    z-index: -1;
    position: absolute;
    filter: blur(3px);
    top: 210vh;
    left: -.4vw;
}
.smartTigerBigPlanetBack>img{
    z-index: -1;
    height: 87vh;
    position: absolute;
    top: 275vh;
    left: 73%;
}
.smartTigerMoonBack>img{
    z-index: -1;
    position: absolute;
    filter: blur(3px);
    width: 20%;
    top: 389vh;
    left: 33.6vw;
}
.teamBlBack>img{
    z-index: -1;
    position: absolute;
    filter: blur(1.3px);
    width: 100%;
    top: 474vh;
    left: 0;
}
.whiteBookBack>img{
    z-index: -1;
    position: absolute;
    filter: blur(1.3px);
    width: 44%;
    top: 620vh;
    left: 55.5vw;
}
.plBlCenter{
    // position: relative;
    // top: -10%;
    display: grid;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 10;
}
.plBlBlue{
    display: grid;
    grid-column-start: 5;
    grid-row-start: 1;
    grid-column-end: 8;
    grid-row-end: 4;
}
.plBlMoon{
    grid-column-start: 10;
    grid-row-start: 1;
    grid-column-end: 13;
    grid-row-end: 4;
    width: 60% !important;
}
.plBlPurple{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-column-end: 5;
    grid-row-end: 9;
}
.plBlOrange{
    display: grid;
    grid-column-start: 5;
    grid-row-start: 6;
    grid-column-end: 8;
    width: 50% !important;
    grid-row-end: 11;
}
.plBlYelpurp{
    display: grid;
    grid-column-start: 10;
    grid-row-start: 7;
    grid-column-end: 14;
    width: 50% !important;
    grid-row-end: 11;
}
.plBlRed{
    display: grid;
    grid-column-start: 12;
    grid-row-start: 10;
    grid-column-end: 15;
    grid-row-end: 13;
}
.plBlYellow{
    display: grid;
    grid-column-start: 6;
    grid-row-start: 11;
    grid-column-end: 10;
    grid-row-end: 13;
    width: 50% !important;
}
.plBlPink{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 11;
    grid-column-end: 6;
    grid-row-end: 13;
    width: 50% !important;
}
.plBlKrug>img{
    width: 70%;
}
.plBlKrug{
    background-image: url('/img/orbits.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
    align-items: center;
    justify-content: center;
}

.FooterLogoWrapperTagsItems:hover{
    background-color: #101b29ce;
}